.cart-outer {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--container-color);
}

.cart-card {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    right: -100%;
    padding: 1.5rem;
    transition: right .3s linear;
    background-color: var(--container-color);
    z-index: 50;
}

.cart-close {
    display: flex;
    position: absolute;
    right: 2rem;
    justify-content: center;
    align-content: center;
    width: 30px;
    height: 30px;
    font-size: 2rem;
    cursor: pointer;
}

.cart-card.open{
    right: 0;
}

.cart-content{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.empty-cart{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
}

.cart-img{
    object-fit: contain;
}

.cart-title{
    text-align: center;
}

.cart-summary{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    width: 100vw;
    font-weight: bold;
    margin-top: 1.5rem;
}

.btn-checkout{
    align-self: flex-end;
    width: 50%;
    height: 40px;
    border: none;
    margin-top: 1rem;
    color: var(--text-color);
    background-color: var(--border-color);
}