.cart-outer {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.cart-card {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    right: -100vw;
    transition: right .3s linear;
    background-color: var(--body-color);
    z-index: 50;
}

.cart-close {
    display: flex;
    position: absolute;
    padding: 1.5rem;
    height: 100vh;
    right: 1rem;
    justify-content: center;
    align-content: center;
    width: 30px;
    height: 30px;
    font-size: 2rem;
    cursor: pointer;
}

.cart-card.open{
    right: 0;
}

.cart-content{
    display: flex;
    width: 100%;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    background-color: var(--body-color);
}

.empty-cart{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
}

.cart-img{
    object-fit: contain;
}

.cart-title{
    margin-top: 2.5rem;
    text-align: center;
}

.cart-summary{
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    width: 100vw;
    font-weight: bold;
    margin-top: 1rem;
}

.btn-group-cart{
    display: flex;
    width: 100vw;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

.btn-checkout{
    width: 130px;
    height: 45px;
    border: 1px solid var(--border-color);
    right: 2rem;
    color: var(--text-color-light);
    background-color: var(--button-color);
}

.btn-clear{
    width: 130px;
    height: 45px;
    border: 1px solid var(--border-color);
    background-color: var(--first-color);
}

.cart-fill{
    display: flex;
    overflow-y: scroll;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2rem;
    gap: 4rem;
    padding: 1rem;
}

.to-buy{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.cart-item-img{
    width: 110px;
}

.cart-item{
    display: flex;
    flex-direction: column;
    gap: .5rem;

}

.cart-stock-item{
    display: flex;
    gap: .5rem;
}

.item-price,
.cart-subtotal{
    font-weight: bold;
    color: var(--first-color);
}

.cart-add-erase{
    display: flex;
    gap: 4.5rem;
    justify-content: space-between;
}

.btn-add-erase{
    display: flex;
}

#cart-decrease,
#cart-add{
    border: 1px solid var(--border-color);
    width: 20px;
    height: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--card-color);
}

#cart-decrease:hover,
#cart-add:hover{
    background-color: var(--first-color);
    color: #FFF;
}

#qty-items{
    text-align: center;
    width: 80px;
    background-color: var(--container-color);
    border: 1px solid var(--border-color);
}

.btn-erase{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: var(--first-color);
}

