:root {
    --first-color: hsl(354, 78%, 60%);
    --button-color: hsl(0, 0%, 17%);
    --button-color-alt: hsl(0, 0%, 65%);
    --card-color: hsl(0, 0%, 90%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --text-color-light: hsl(0, 0%, 78%);
    --body-color: hsl(206, 4%, 97%);
    --container-color: #fff;
    --border-color: hsl(0, 0%, 94%);
    --body-font: 'Roboto', sans-serif;
}

.product-filter-group{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    align-content: center;
    width: 350px;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.product-filter{
    width: 150px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.products-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.product-item{
    position: relative;
    width: 60%;
    border-radius:1rem 1rem 0rem 0rem;
    box-shadow: 3px 4px 0px 3px rgba(4, 5, 4, .1);
}

.product-item>h4{
    font-size: 1.5rem;
}

.product-img{
    padding: 1rem;
    border-radius: 1rem  1rem 0rem 0rem;
    background-color: var(--card-color);
}

#add-btn{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 4rem;
    right: 1rem;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #FFF;
    background-color: var(--button-color-alt);
}

.product-content{
    padding: 1.5rem;
}

.product-stock{
    display: flex;
    gap: .5rem;
}