@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url(./_cart.css);

:root {
  --first-color: hsl(354, 78%, 60%);
  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 65%);
  --card-color: hsl(0, 0%, 90%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 78%);
  --body-color: hsl(206, 4%, 97%);
  --container-color: #fff;
  --border-color: hsl(0, 0%, 94%);
  --body-font: 'Roboto', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: var(--body-font);
}

h1, h2, h3{
  color: var(--title-color);
}

body.dark{
  --first-color: hsl(182, 53%, 74%);
  --button-color: hsl(246, 16%, 12%);
  --button-color-alt: hsl(0, 0%, 40%);
  --card-color: hsla(246, 16%, 5%, .5);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  --body-color: hsl(249, 19%, 14%);
  --container-color: hsl(246, 16%, 12%);
  --border-color: hsl(0, 0%, 20%);
}

img{
  width: 100%;
}

.loader-container{
  background-color: var(--container-color);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 60;
}

.loader-img{
  width: 100px;
  position: relative;
  animation: loading 1.5s infinite;
}

.loader-container.hide{
  display: none;
}

.navbar{
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 90px;
  font-weight: bold;
  position: sticky;
  z-index: 7;
}

.nav-link{
  text-decoration: none;
  color: var(--text-color);
}

.brand{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.brand-name{
  font-size: 1.5rem;
}

.brand-logo{
  width: 50px;
  fill: var(--first-color);
}

.menu-container{
  display: flex;
  justify-content: center;
  background-color: var(--body-color);
  position: absolute;
  font-size: 1.5rem;
  width: 100%;
  height: 100vh;
  left: -100%;
  transition: left .3s linear;
  z-index: 5;
}

.menu-container.open{
  left: 0;
}

.btn-close{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 1.5rem;
  right: 1.5rem;
}

.navbar-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  list-style: none;
}

.menu-item{
  margin: .5rem 1rem;
}

.nav-link.active{
  color: var(--first-color);
}

.navbar-icons{
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: 1.2rem;
}

.icon-item{
  padding: .5rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.counter{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--body-color);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 20px;
  left: 3.7rem;
  font-size: .9rem;
}

main{
  position: static;
}

.home-product{
  display: flex;
  flex-direction: column-reverse;
  padding: 1.5rem;
  height: auto;
  background-color: var(--container-color);
}

.bg-home-img{
  display: flex;
  position: absolute;
  top: -6rem;
  right: 0;
  width: 230px;
  height: 500px;
  background-color: var(--first-color);
}

.product-desc{
  display: flex;
  position: relative;
  margin-top: 20rem;
  flex-direction: column;
  gap: 1rem;
}

#home-price{
  color: var(--first-color);
  font-size: 1.5rem;
  font-weight: bold;
}

.btn-group{
  display: flex;
  align-items: center;
}

#btn-discover-home{
  border: none;
  width: 100px;
  height: 50px;
  font-weight: bold;
  color: var(--button-color);
  background-color: var(--button-color-alt);
}

#btn-add-home{
  border: none;
  width: 120px;
  height: 60px;
  font-weight: bold;
  color: #FFF;
  background-color: var(--button-color);
}

.home-img{
  align-self: flex-end;
  margin-bottom: 2rem;
}

@keyframes loading {
  0%{
    top: 0;
  }
  50%{
    top: -30px;
  }
  100%{
    top: 0;
  }
}

/*HOME*/

.contenedor-home{
    position: relative;
    row-gap: 2.5rem;
}


