/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --first-color: hsl(354, 78%, 60%);
  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 21%);
  --card-color: hsl(0, 0%, 90%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: hsl(206, 4%, 97%);
  --container-color: #fff;
  --border-color: hsl(0, 0%, 94%);
/*========== Variables Dark theme ==========*/
  /* --first-color: hsl(182, 53%, 74%);
  --button-color: hsl(246, 16%, 12%);
  --button-color-alt: hsl(0, 0%, 28%);
  --card-color: hsla(246, 16%, 5%, .5);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  --body-color: hsl(249, 19%, 14%);
  --container-color: hsl(246, 16%, 12%);
  --border-color: hsl(0, 0%, 20%); */
  /*========== Font and typography ==========*/
  --body-font: 'Roboto', sans-serif;
}

/* estilos generales*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
 font-family: var(--body-font);
background-color: var(--body-color);
color:var(--text-color);
transition:4s;
}
h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: 500px;
}
html {
  scroll-behavior: smooth;
}
img{
  max-width: 100%;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/* Estilos generales END*/


.loader-container{
  background-color: whitesmoke;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.loader-img{
  width: 100px;
  position: relative;
  animation: loading 1.5s infinite;
}

.loader-container.hide{
  display: none;
}

.navbar{
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 3.5rem;
  font-family: var(--body-font);
  font-weight: bold;
  position: fixed;
  position: sticky;
  /* background: transparent; */
  /* overflow: hidden; */
}

.brand{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.brand-name{
  font-size: 1.5rem;
}

.brand-logo{
  width: 50px;
  fill: var(--first-color);
}

.menu-container{
  display: flex;
  align-items: center;
  column-gap: 1rem;
  justify-content: center;
  background-color: whitesmoke;
  position: absolute;
  font-size: 1.5rem;
  width: 90%; /*se sobreponia en el principio del texto del parrafo y titulo*/
  height: 100vh;
  left: -100%;
  transition: left .3s linear;
  z-index: 5; 
}

.menu-container.open{
  left: 0;
}


.btn-close{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 1.5rem;
  right: 1.5rem;
}

.navbar-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  list-style: none;
}

.menu-item{
  margin: .5rem 1rem;
}

.menu-item.active{
  color: var(--first-color);
}

.navbar-icons{
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: 1.2rem;
  ;

}

.icon-item{
  padding: .5rem;
  font-size: 1.4rem;
  cursor: pointer;
  
}

.counter{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: whitesmoke;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 20px;
  left: 55px;
  font-size: .9rem;
  z-index:2
  ;
}

@keyframes loading {
  0%{
    top: 0;
  }
  50%{
    top: -30px;
  }
  100%{
    top: 0;
  }
}

/* HOME */
.container {
  max-width: 1024px;
  margin-left:1.5rem;;
  margin-right:1.5rem;;
}
.grid{
  display:grid;
}
.contenedor-home{
    position: relative;
    row-gap: 2.5rem;
}

.imagen-home{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  justify-self: flex-end;
  background-color: var(--first-color);
  width: 260px;
  height: 430px;
  padding-bottom: 2rem;
  transform: translateX(1.5rem);
}
.title-home {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.text-home {
  margin-bottom: 1.5rem;
  font-family: var(--body-font);

}

.price-home {
  color: var(--first-color);
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 500px;
  margin-bottom: 3rem;
}

.boton {
  display: inline-block;
  background-color: var(--button-color);
  color: var(--container-color);
  padding: 1.25rem 2rem;
  font-weight:500px;
  transition: .3s;
}
.btn-home{
  box-shadow: 0 12px 24px hsla(0, 0%, 10%, .2);
}
.btns-home{
  display: flex;
  align-items: center;
}

.boton:hover {
  background-color: var(--first-color);
  color: var(--body-color);
}
.btn-small {
  padding: 1rem 1.5rem;
}
.btn-gray {
  background-color: hsl(0, 0%, 75%);
  color: var(--title-color);
}
.btn-gray:hover {
  background-color: hsl(0, 0%, 63%);
}

header{
    width: 100%;
    background: transparent;
    position: fixed;/*para que entre por detras de los iconos del nav*/
    top: 0;
    left: 0;
    z-index: 100; 
} 

/* HOME END */
